.header {
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 120px;
    padding: 0 100px;
    align-items: center;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header__contacts {
    font-size: 20px;
    font-weight: bold;
    color: $secondary-color;
}