.incentive {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-background;
    color: $light-text;

    &--right {
        flex-direction: row-reverse;
    }
}

.incentive__img {
    margin: -80px 0 0 0;
}

.incentive__content {
    width: 660px;
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}


.incentive__title {
    font-size: 24px;
    font-weight: 400;
}

.incentive__wrapper {
    margin: 28px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;

}