.page {
    @include font-family-main;
    display: flex;
    flex-direction: column;
    color: $main-text;
    font-size: 12px;
    min-width: 320px;
    max-width: 1050px;
    padding: 0;
    margin: 0 auto;
    background-color: #9a9998;
}